body {
    position:relative;
    min-height:1800px;
    width: 100%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #8c7f75;
}
a:hover {
    text-decoration: underline;
}
a.menu {
    color: #000000;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #000000;
}
p.small {
    line-height: 80%;
    margin-left: 20px;
    color: #000000;
}
footer {
    border-top: 1px solid #8c7f75;
    font-size: 0.8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

sidebar {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    float: left;
    clear: left;
    position:absolute;
    left:0px;
    bottom:0px;
    top:0px;
    height:100%;
    width:20%;
}  

.tab { 
    margin-left: 10%; 
}
