html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body {
    position:relative;
    /* min-height:1800px; */
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
}
nav ul, footer ul {
    font-family:'Avenir Next';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family:'Avenir Next';
}
a {
    text-decoration: none;
    color: #993300;
}
a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}
a.menu {
    color: #BCA693;
}
h1 {
  font-size: 2em;
  font-family:'Avenir Next';
  font-weight: normal;
}
h2 {
  font-size: 1.5em;
  font-family:'Avenir Next';
  font-weight: normal;
}
h3 {
  font-size: 1em;
  font-family:'Avenir Next';
}
h4 {
  font-size: 1em;
  font-family:'Avenir Next';
  text-transform: uppercase;
  font-weight: normal;
}
p {
    font-size: 1em;
    font-family:'Avenir Next';
    line-height: 1.4em;
    color: #000000;
}
p.small {
    line-height: 80%;
    margin-left: 20px;
    color: #000000;
}
footer {
    border-top: 1px solid #993300;
    font-size: 0.8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

sidebar {
    float: left;
    clear: left;
    position:absolute;
    left:0px;
    bottom:0px;
    top:0px;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    height:100%;
    width:20%;
}  

.tab { 
    margin-left: 10%; 
}

.doubletab { 
    margin-left: 20%; 
}
