<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		
		<body>
		<!-- Sidebar -->
		<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
		  <!-- <h1 class="w3-bar-item"> Menu </h1> -->
			<ul style="list-style: none;">
				<li><a href="/"> <h3> Home </h3> </a></li>
				<li><a href="/research"> <h3> Research </h3> </a></li>
				<li><a href="/publications"> <h3> Publications </h3> </a></li>
				<li><a href="/talks_n_posters"> <h3> Talks &amp; Posters </h3> </a></li>
				<li><a href="/teaching"> <h3> Teaching </h3> </a></li>
				<li><a href="/public_outreach"> <h3> Public Outreach </h3> </a></li>
				<li><a href="/cv"> <h3> CV </h3> </a></li>
				<li><a href="/misc"> <h3> Misc. </h3> </a></li>
			</ul>
		</div>

		<div class="blurb">

		{{ content }}

		</div><!-- /.blurb -->
		<footer>
		<ul>
			<li><a href="mailto:m.s.woensdregt@sms.ed.ac.uk">email</a></li>
			</ul>
		</footer>
		</div>
		</body>
	</html>
