<!DOCTYPE html>
	<html>		
		<sidebar style="position:absolute; width: 20%;">
		<div class="menu">
			<img src="sidebar_pic.jpg" alt="me" style="width:80%">
			<p class="tab" style="width:100%; margin-bottom:20px;"> Marieke Woensdregt </p>
			<a href="/"> <h3 class="tab"> About me </h3> </a>
			<a href="/research"> <h3 class="tab"> Research </h3> </a>
			<a href="/publications"> <h3 class="tab"> Publications </h3> </a>
			<a href="/talks_n_posters"> <h3 class="tab"> Talks &amp; Posters </h3> </a>
			<a href="/teaching"> <h3 class="tab"> Teaching </h3> </a>
			<a href="/cv"> <h3 class="tab"> CV </h3> </a>
			<a href="/public_outreach"> <h3 class="tab"> Public Outreach </h3> </a>
			<a href="/misc"> <h3 class="tab"> Misc. </h3> </a>
		</div><!-- /.menu -->
		</sidebar>
		
		<head>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<body>
		<div class="blurb" style="margin-left:25%">
			<title>{{ page.title }}</title>
			{{ content }}
		</div><!-- /.blurb -->
		</body>

		<footer style="margin-left:25%">
			<h3>
			<a href="mailto:m.s.woensdregt@sms.ed.ac.uk">email</a>	
			<img src="images/twitter_symbol_black_solo.jpg" alt="twitter symbol" style="height:10%">
			<a href="https://twitter.com/mariekewoe">@mariekewoe</a>
			</h3>
		</footer>

	</html>
