<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		
		<body>
		<!-- Sidebar -->
		<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
		  <!--> <h1 class="w3-bar-item"> Menu </h1> -->
			<ul style="list-style: none;">
				<li><a href="/"> <h2> Home </h2> </a></li>
				<li><a href="/research"> <h2> Research </h2> </a></li>
				<li><a href="/publications"> <h2> Publications </h2> </a></li>
				<li><a href="/talks_n_posters"> <h2> Talks &amp; Posters </h2> </a></li>
				<li><a href="/teaching"> <h2> Teaching </h2> </a></li>
				<li><a href="/public_outreach"> <h2> Public Outreach </h2> </a></li>
				<li><a href="/cv"> <h2> CV </h2> </a></li>
				<li><a href="/misc"> <h2> Misc. </h2> </a></li>
			</ul>
		</div>

		<!-- Page Content -->
		<div style="margin-left:25%">
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
			<ul>
				<li><a href="mailto:m.s.woensdregt@sms.ed.ac.uk">email</a></li>
				</ul>
			</footer>
		</div>
		</body>
	</html>
